.karla-main {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

body {
  background-color: #1F2937;
  font-family: "Inter";
}

hr {
  width: 100%;
}

button {
  background-color:#10B981;
  border: none;
  color: white;
  padding: 9 17 9 15;
  border-radius: 6px;
  transition: .15s;
  height: 30px;
  margin-bottom: 10px;
  }

button:active {
  box-shadow: 3px 2px 10px #066f4c;
}

button:hover {
  cursor: pointer;
  background-color: #066f4c;
}
  
  p {
    color: #55F991;
    font-size: 14px;
  }

.content {
  top: 20%;
  display: flex;
  flex-direction: column;
  width:400px;
  margin: 0 auto;
  margin-top: 5%;
}

#main-el {
  font-size: 40px;
  font-weight: 800;
  font-family: "Karla";
  color: white;
  margin-bottom: 0;
}

.green-el {
  color: #4ADF86;
}

.secondText {
  font-size: 20px;
}

#caption {
  color: #D5D4D8;
}

.clickable-els {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 20px;
  height: 70px;

}

.character-el {
  margin-left: 35px;
  margin-top: 0;
  font-family: "Karla";
  font-weight: 800;
  
}

.toggle-el {
margin-left: 55px;
margin-top: 0px;
font-family: "Karla";
font-size: 16px;
font-weight: 800;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  margin-left: 80px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

#slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

#slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + #slider {
  background-color: #066f4c;
}

input:focus + #slider {
  box-shadow: 0 0 1px #066f4c;
}

input:checked + #slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

#character-el,#toggle-el {
  margin-top: 0;
  color: #D5D4D8;
  font-family: "Karla";
  font-weight: 800;
}

#characters-num {
  background-color: #ccc;
  color: black;
  font-size: 19px;
  margin: auto;
  width: 100px;
  border: none;
  height: 30px;
  margin-bottom: 7px;
  
}

.password-div {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 20px;
  font-size: 12px;
}

.emptyPass-el {
  margin-top: 25px;
  width: fit-content;
  height: 30px;
  padding-top: 10px;
  width: 50%;
  border-radius:6px;
  background-color: #273549;
  text-align: center;
}

#lightOrDark {
  width: fit-content;
  margin-left: auto;
  height: fit-content;
}